

/*
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: black;
	width: 960px;
}

 .main-head {
     grid-area: header;
     border: 1px solid black;
     padding: 5px;
     font-size: 18px;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "section_content"
    "sidebar"   
    "footer"   
    "footer";
}
.wrapper {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "header header header"
      "nav nav nav"  
      "section_content sidebar sidebar"
      "footer footer footer";
  }
  
  .section_content{
    border: 1px solid black;
    display: flex;


  }

  nav ul {
    display: flex; 
    justify-content: space-between;
    margin-top: 1px;
  }
 
/*
.main-nav {
	font-size: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 7px;
    margin-top: 7px;
    margin: 20px;

}
.main-nav {
	display: inline; 
	margin-right: 10px;}

.sidebar {
     grid-area: sidebar;
     border: 1px solid black;
     padding: 20px;
     margin:20px 20px 20px ;
     line-height: 400px;


}
.main-footer {
     grid-area: footer;
     border: 1px solid black;
     padding: 20px 20px 20px;
     margin: 20px 20px;
 }

.main-footer2 {
     grid-area: footer;
     border: 1px solid black;
     padding: 20px 20px 20px;
     margin: 20px 20px;
 
 }

 /*START Style for: Display Property - Change Inline/Block*
ul#mylist{

  font-size: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 70px;
    margin-top: 70px;

    }
ul#mylist li {
  display: inline; /*display in line*
  margin-right: 10px;}

ul#mylist li.coming-soon {
    dis play: none;} /*note display none*

.Body-Paragraphs {

  background-color: lightgrey;
    max-width: 620px;
    margin: 10px 10px;
    padding: 20px 10px 20px 20px;
    border: 1px solid black;
    height: 400px;
}

.mylist2 {
  background-color: lightgrey;
  display: inline;
  margin: 40px 200px;
  padding: 50px;
    border: 1px solid black;
  height: 400px;
  max-width: 200px; 
  position: absolute;
  top: 150px; 
    
    right: 5px;

}

.body1{
  margin: 20px;

}

.body2{
  margin: 20px;

}

.body3{
  margin: 20px;
 
}
*/ 

